@charset "utf-8";
body
{
	background-color:#000;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#0C6;
	font-family:Consolas, "Trebuchet MS", "Lucida Console";
}

a:visited
{
color:#FFF;
}
button
{
	font-family:"Lucida Console", Monaco, monospace;
	background-color:#999;
	border:ridge 3px #0000FF;
}
input
{
	border:dotted 1px #FF0000;
}
textarea
{
		border:dotted 1px #FF0000;

}